/* CSS
Author:Daniel Neshkoski
Theme: SoundBox 
 */

 @font-face {font-family: "ConduitITCW01-Bold";
    src: url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.eot");
    src: url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/589dc5dbe01f7ed323ccab2fd9ec9fe0.svg#ConduitITCW01-Bold") format("svg");
}

 body{font-family: "ConduitITCW01-Bold";
 font-size:16px;}